<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @team.name %></title>
  </head>
  <body>
    <h2>Team Name: <%= @team.name %></h2>
    <h3>Team Motto: <%= @team.motto %></h3>
    <ul>
      <% @heroes.each do |hero| %>
        <li>Hero Name: <%= hero.name%></li>
        <li>Hero Power: <%= hero.power%></li>
        <li>Hero Biography: <%= hero.bio%></li>
      <% end %>
    </ul>
  </body>
</html>
